.detail{
    padding:0.2em
}

.title{
    margin:0.5em 0;
}

.channelTitle{
    margin-bottom:0.8em;
}

.description{
    white-space:pre-wrap;
}
/* 연속 공백 유지. 줄 바꿈은 개행 문자와 <br> 요소에서 일어나며, 한 줄이 너무 길어서 넘칠 경우 자동으로 줄을 바꿉니다. */