.container{
  width: 50%;
  padding:0.2em;
}

.container.grid{
  width:50%;
}

.container.list{
  width:100%;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
  transition: transform 250ms ease-in;
  width: 100%;
}

.video:hover {
  transform: scale(1.02);
}

.thumbnail {
  margin-right: 0.7em;
  width: 40%;
  height: 100%;
}

.title {
  margin-bottom: 10px;
  font-weight: 400;
}

.channel {
  font-size: 0.8em;
}
