.header{
    display:flex;
    align-items: center;
    background-color: black;
    color:white;
    height:4rem;
    padding:0.8em 1em;
}

.logo{
    display:flex;
    margin-right:1em;
}

.title{
    padding-left:0.2em;
}

.searchBar{
    display:flex;
    align-items: center;
    flex-basis: 100%;
}

.input{
    font-size:1.2rem;
    outline:0;
    padding:0.2em;
    flex-basis: 100%;
}

.button{
    background-color: black;
    border:none;
    outline:0;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0.5em;
    cursor: pointer;
}

.buttonImg{
    padding:0.5em 0.2em;
    width:2.5em;
    height: 2.7em;
}